body{
    background-image: url(Golf.jpg);
    background-size: cover;
    background-position: center;
}
.LogRegBox{
    background-color: aliceblue;

}
.Login{
    background-color: aliceblue;
    padding: 25px;

}
.Reg{
    background-color: aliceblue;
    padding: 25px;
}