body{
    
    background-image: url("golf.jpg");
    
}
h1{
    background-color: transparent;
    text-align: center;
    padding: 15px;
    color: pink;
    font-family: 'Courier New', Courier, monospace;

}
.intro{
    background-color: transparent;
    text-align: center;
    padding: 15px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
form{
    background-color: transparent;
    text-align: center;
    padding: 15px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}